.gig-details-page {
  max-width: 900px;
  /* margin:  auto; */
  padding: 0 40px;
}


.gig-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 16px;
}


.seller-row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.seller-row img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.seller-meta {
  font-size: 14px;
  color: #555;
  margin-top: 4px;
}

.gig-media {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  margin-bottom: 32px;
  width: 50%;
}

.gig-media img {
  width: 100%;
  height: auto;
  display: block;
}

/* Description */
.gig-description {
  margin-bottom: 40px;
}

.gig-description h3 {
  margin-bottom: 12px;
}

.gig-description p {
  line-height: 1.7;
  color: #444;
}

.gig-reviews {
  padding-top: 32px;
  border-top: 1px solid #eee;
  
}

.gig-reviews h3 {
  margin-bottom: 20px;
}
.message-btn {
  margin-top: 16px;
  padding: 10px 20px;
  background: #1dbf73;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.message-btn:hover {
  background: #17a863;
}
