.auth-container {
  max-width: 400px;
  margin: 80px auto;
  background: #fff;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.auth-container h2 {
  text-align: center;
}

.auth-container input {
  padding: 12px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.auth-container input:focus {
  outline: none;
  border-color: #1dbf73;
}

.auth-btn {
  padding: 12px;
  background: #1dbf73;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.auth-btn:hover {
  background: #17a864;
}

.auth-container p {
  text-align: center;
  font-size: 14px;
}
.auth-container form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
