
body{
  background-color: #141414;
  color: #ffffff;

}

.RowMovies{
  overflow: auto;
  display:flex;
  align-items: center;
  gap: 10px;
  overflow-x: auto;
  flex-wrap: nowrap;
}

header{
  display: flex;
  align-items: center;
  position: relative;
  
}
header .search-box{
  
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
 
}

.search-box input{
  width: 300px;
  height: 40px;
  border-radius: 100px;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: #1f1f1f;
  color: #fff;
  transition: all 0.3s ease; 
}

.search-box input::placeholder{
  color:#aaa;
}


.image-container{
  position: relative;
  flex: 0 0 auto;
  width: 180px;
  height: 270px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  transition: transform 0.3s ease;
}

.image-container:hover{
  cursor: pointer;
  transform: scale(1.1);

}

.image-container img{
  object-fit: cover;
  display:block;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  inset: 0; /* top:0 right:0 bottom:0 left:0 */
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .overlay{
   opacity: 1;
}

.play-button {
  background: #e50914;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
}

.favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;

  font-size: 1.4rem;
  color: white;
  background: rgba(0, 0, 0, 0.6);

  width: 36px;
  height: 36px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: all 0.3s ease;
}

.favorite-icon:hover {
  color: #e50914;
  transform: scale(1.2);
}

.favorites{
  overflow: auto;
  display:flex;
  align-items: center;
  gap: 10px;
  overflow-x: auto;
  flex-wrap: nowrap;

}