.input{
    width: 100%;
    margin: auto;
}
.labelInput{
    display: flex;
    flex-direction: column;
    
}

.registerWrapper{
    width: 30%;
    margin: auto;
    background-color: blue;
    text-align: center;
    padding: 4px 6x 8px 10px;
}